<nav class="box">
  <div class="field">
    <label class="label">Nueva Publicación</label>
    <div class="control">
      <textarea class="textarea" placeholder="Hay tarea?" rows="2"></textarea>
    </div>
  </div>
  <div class="buttons">
    <button class="button is-primary is-fullwidth">Publicar</button>
  </div>
</nav>
<%= render "post" %>