<nav class="panel">
  <p class="panel-heading">
    Menu
  </p>
  <div class="panel-block">
    <aside class="menu">
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
      <%= turbo_frame_tag 'post' %>

      <div class="mt-8" data-controller="user-modal" data-user-modal-prevent-default-action-opening="false">
        <%= render partial: 'users/form' %>
        <li><%= link_to 'Mi perfil', edit_user_path(current_user), data: { action: "click->user-modal#open", 'turbo-frame': 'user' } %>
      </ul>
      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
    </aside>
  </div>
</nav>


