<nav class="panel">
  <p class="panel-heading">
    Menu
  </p>
  <div class="panel-block">
    <aside class="menu">
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
        <li><a>Mi perfil</a></li>
      </ul>
    </aside>
  </div>
</nav>